*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    background-color: #f8f9d2;
    background-image: linear-gradient(315deg, #f8f9d2 0%, #e8dbfc 74%);
    background-attachment: fixed;
}

html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    scroll-margin-top: 50px;
}

section{
    block-size: 100vh;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    display: grid;
    place-items: center;
}

img{
    border: solid 1px black;
    padding: 2px;
}

@media only screen and (min-width:200px) and (max-width: 767px) {
    img{
        width: 400px;
        height: auto;
    }
}

@media only screen and (min-width:768px) and (max-width: 1024px) {
    img{
        width: 700px;
        height: auto;
    }

    img:hover{
        width: 725px;
        cursor: pointer;
    }
    
}